<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs')  %> <!-- HEAD -->
  <body>
    <%- include('./partials/header.ejs')  %> <!-- HEADER -->

    
      <div class="container">
        <section class="principal-detalle">
          <div class="row detalle">

            <div class="contenido-detalle">
              <div class="contenido text-left">
                <div class="row deta">
                  <div class="col-12 titulo">
                    <h2><%= title %> </h2>
                  </div>
                    <div class="col-12 col-lg-7">
                      <figure class="imgdetalle">
                        <img src="/images/ropa/<%= producto.image %>" alt=""><a href=""></a>
                    </figure>
                    <p class="descrip"><%= producto.description %></p>
                    </div>
                    <div class="col-12 col-lg-5 datos">
                        <h3 class="nombredeta">
                          <%= producto.name %>
                        </h3>
                        <strike>$<%= producto.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></strike> <span><strong> <%= producto.discount %>  % OFF</strong></span>
                        <h2>
                          $<%- (producto.price - producto.price * producto.discount / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %> 
                        </h2>

                                <p><i class="fas fa-credit-card mr-3 my-4 dibu"></i>Pagá en 12 cuotas sin interés</p>
                                <p><i class="fas fa-store mr-3 my-4 dibu"></i>Retiro gratis en el local</p>
                                
                                <button class="buttondeta">Agregar al carrito</button>
                                <button class="buttondeta">Comprar ahora</button>
                    </div>
                </div>
            </div>
            </div>
            
          </div>
        </section>
      </div>
     
      <%- include('./partials/footer.ejs')  %> <!-- FOOTER -->
</body>
</html>