<!DOCTYPE html>
<html lang="es">


  <%- include('./partials/head.ejs')  %> <!-- HEAD -->
  <body>
    <%- include('./partials/header.ejs')  %> <!-- HEADER -->

    

    

  <div class = "row">
    <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <section class="form-carga">
      <h4>Editar producto</h4>
   <form action="/products/editarProd/<%= producto.id %>?_method=PUT" method="POST">
    <label for="name">Nombre</label>
      <input class="controls" type="text" name="name" id="nombre produc" placeholder="Nombre del Producto" value="<%= producto.name %> ">
    <label for="talle">Talle</label>
      <input class="controls" type="text" name="talle" id="talle" placeholder="Talle" value=<%= producto.talle %>>

      <br>
    <label for="price">Precio</label>
      <input class="controls" type="text" name="price" id="precio produc" placeholder="Precio del Producto" value=<%= producto.price %> >

      <br>
      
    <label for="id">Número de articulo</label>
      <input class="controls" type="text" name="id" id="num art" placeholder="Numero de Articulo" value=<%= producto.id %> >
    <label for="discount">Descuento</label>
      <input class="controls" type="text" name="discount id="descuento" placeholder="Descuento %" value=<%= producto.discount %> >

      <label for="">Categoria:</label>
      <select name="category">
       
       <% if (producto.category == "hombre") { %>
        <option value="hombre" selected>Hombre</option>
        <option value="mujer">Mujer</option>
        <option value="niño">Niño</option>
        <option value="niña">Niña</option>
       <% } else if (producto.category == "mujer") { %>
       <option value="hombre">Hombre</option>
       <option value="mujer" selected>Mujer</option>
       <option value="niño">Niño</option>
       <option value="niña">Niña</option>
       <% } else if (producto.category == "niño") { %>
        <option value="hombre">Hombre</option>
       <option value="mujer">Mujer</option>
       <option value="niño" selected>Niño</option>
       <option value="niña">Niña</option>
       <% } else if (producto.category == "niña") { %>
        <option value="hombre">Hombre</option>
       <option value="mujer">Mujer</option>
       <option value="niño">Niño</option>
       <option value="niña" selected>Niña</option>
       <% } %>
      </select>

      <br><br>

      
      <label for="image">Imagen</label>
      <input class="controls" type="file" name="image">

      <br><br>

      <label>Agregar Descripcion:</label>
      <br>
      <textarea placeholder="" name="description" id="" cols="39" rows="5"><%= producto.description %></textarea>
      
      <input class="botons" type="submit" value="Editar">
      <input class="botons" type="submit" value="Cancelar">
    </form>
    </section>

  </div>
</div>

<%- include('./partials/footer.ejs')  %> <!-- FOOTER -->
</body>
</html>