<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs')  %> <!-- HEAD -->
  <body>
    <%- include('./partials/header.ejs')  %> <!-- HEADER -->

    
 <form action="/users/login" method="POST" id="login">
    <div class = "row">
      <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <section class="form-login">
        <h4>Inicio de Sesión</h4>
        
        <label for="correo"></label>
        <small
				class="text-danger" id="errorEmail"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %>
        </small>
        <input class="form-control <%= (typeof old != 'undefined' && old.email)?"is-valid":(typeof errors != 'undefined' && errors.email)?"is-invalid": ""  %>" type="email" name="email" id="correo" placeholder="Email">
  
        <label for="Contraseña"></label>
        <small
				class="text-danger" id="errorPass"><%= (typeof errors != 'undefined' && errors.password)?errors.password.msg: "" %>
        </small>
        
        <input title="La contraseña debe tener entre 8 y 12 caracteres,una mayuscula,una minuscula y un numero" class="form-control <%= (typeof old != 'undefined' && old.password)?"is-valid":(typeof errors != 'undefined' && errors.password)?"is-invalid": ""  %>" type="password" name="password" id="Contraseña" placeholder="Contraseña">
         <br><br>
         
        <p><input  type="checkbox" name="recuerdame">Recordarme</p>
         
        <p><a href="/users/register">¿No tienes cuenta?</a></p>
         <label for="submit"></label>
        <span id="msgError" class="text-danger"></span>
        <input class="botons" type="submit" value="Iniciar sesión">
        <a href="/"><input class="botons" type="reset" value="Cancelar"></a>
        
      </section>
    </div>
  </div>
</form>

  <%- include('./partials/footer.ejs')  %> <!-- FOOTER -->
</body>
</html>