<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs')  %> <!-- HEAD -->
  <body>
    <%- include('./partials/header.ejs')  %> <!-- HEADER -->

    <form action="/users/register" method="POST" enctype="multipart/form-data">

    <div class = "row">
      <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <section class="form-register">
        <h4>Formulario de Registro</h4>
  
        <input class="controls <%= (typeof old != 'undefined' && old.first_name)?"is-valid":(typeof errors != 'undefined' && errors.first_name)?"is-invalid": ""  %>"
         type="text" name="first_name" id="first_name" value="<%= (typeof old != 'undefined' && old.first_name)?old.first_name:'' %>" placeholder="Nombre">
         <small
				class="text-danger"><%= (typeof errors != 'undefined' && errors.first_name)?errors.first_name.msg: "" %>
				</small>
        <input class="controls <%= (typeof old != 'undefined' && old.last_name)?"is-valid":(typeof errors != 'undefined' && errors.last_name)?"is-invalid": ""  %>"
         type="text" name="last_name" id="last_name" value="<%= (typeof old != 'undefined' && old.last_name)?old.last_name:'' %>" placeholder="Apellido">
         <small
				class="text-danger"><%= (typeof errors != 'undefined' && errors.last_name)?errors.last_name.msg: "" %>
				</small>
        <input class="controls <%= (typeof old != 'undefined' && old.email)?"is-valid":(typeof errors != 'undefined' && errors.email)?"is-invalid": ""  %>"
         type="email" name="email" id="email" value="<%= (typeof old != 'undefined' && old.email)?old.email:'' %>" placeholder="email">
         <small
				class="text-danger"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %>
				</small>
        <input class="controls <%= (typeof old != 'undefined' && old.pass)?"is-valid":(typeof errors != 'undefined' && errors.pass)?"is-invalid": ""  %>" 
        type="pass" name="pass" id="pass" value="<%= (typeof old != 'undefined' && old.pass)?old.pass:'' %>" placeholder="Ingrese su contraseña">
        <small
				class="text-danger"><%= (typeof errors != 'undefined' && errors.pass)?errors.pass.msg: "" %>
				</small>

        <label for="">Categoria:</label>
      <select name="category" id="">
       <option disabled>Seleccionar</option>
       <option value="User">Usuario</option>
       <option value="Admin">Administrador</option>
      </select>
      <br><br>

      <input class="controls" type="file" name="avatar">
      <small
		class="text-danger"><%= (typeof errorFormato != 'undefined')?errorFormato: "" %>
	</small>
        
        <p><input type="checkbox" name="checkbox" > Estoy de acuerdo con <a href="#ventana1" data-toggle="modal">Términos y condiciones </a></p>

        
         
        <div class="modal fade" id="ventana1">
           <div class="modal-dialog">
             <div class="modal-content">
               <!--Header de la ventana-->
                <div class="modal-header">
                  
                  <h4 class="modal-title">Términos y condiciones</h4>
                  <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <small
													class="text-danger"><%= (typeof errors != 'undefined' && errors.checkbox)?errors.checkbox.msg: "" %>
												</small>
                </div>
                <!--Contenido de la ventana-->
                <div class="modal-body" width:100%>
                  <p>El presente Política de Privacidad establece los términos en que  usa y protege la información que es proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compañía está comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento. Sin embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios.
                    </p>
                </div>
                
             </div>
            </div>
        </div>
        <input class="botons" type="submit" value="Registrarse">
        <p><a href="/users/login">¿Ya tienes cuenta?</a></p>
      </section>
    
    </div>
  </div>
</form>
    
  <%- include('./partials/footer.ejs')  %> <!-- FOOTER -->
  </body>
  </html>