<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs')  %> <!-- HEAD -->
  <body>
    <%- include('./partials/header.ejs')  %> <!-- HEADER -->

    <div class="container">
        <section class="principal-detalle">
          <div class="row detalle">
            <div class="contenido-detalle">
              <div class="contenido text-left">
                <div class="row deta">
            
              <div class="col-12 titulo">
                <h1><%= title %></h1>
             
             
                <br>
              </div>
              
    
    
              <div class="contenido">


               
                <div class="tab-content" id="myTabContent">
    
                  <div class="tab-pane fade show active p-4" id="datos" role="tabpanel" aria-labelledby="home-tab">
                   
                        <form action="/users/updateProfile/<%= usuario.id %> ?_method=PUT" method="POST"
                          enctype="multipart/form-data">
                          <div class="form-row">
                            <div class="col-12 col-md-4 mt-3 d-flex flex-column align-items-center">
                            
                              
                              <img src="/images/avatar_users/<%= usuario.avatar %> " class="avatarImg" alt="avatar" width="75%"
                                style="object-fit: cover; object-position: top;">
                             
                              <div class="form-group w-75">
                                <input type="file" class="form-control" id="avatarImput" name="avatar">
                              </div>
                            </div>
                            <div class="col-12 col-md-8 ">
                              <div class="form-row mt-2">
                                <div class="form-group col-12 col-md-6 ">
                                  <label for="inputNombre">Nombre</label>
                                  <input type="text" name="first_name" class="form-control" id="inputNombre"
                                    value="<%= usuario.first_name %>" >
                                </div>
                                <div class="form-group col-12 col-md-6">
                                  <label for="inputApellido">Apellido</label>
                                  <input type="text" name="last_name" class="form-control" id="inputApellido"
                                    value="<%= usuario.last_name %>" >
                                </div>
                                <div class="form-group col-12 col-md-6">
                                  <label for="imputEmail">Email</label>
                                  <input type="email" name="email" class="form-control" id="imputEmail"
                                    value=<%= usuario.email %> >
                                </div>
                               
                                
                              </div>
                              <div class="d-md-flex justify-content-end mt-5">
                                <button type="button" class="btn-sm btn-secondary m-1"><a href="/" class="text-light">Salir
                                    sin
                                    guardar</a></button>
                                <button type="submit" class="btn-sm btn-primary m-1">Actualizar datos</button>
                              </div>
                            </div>
                          </div>
                        </form>
                    
                        <div class="col-12 col-md-4 d-flex justify-content-center">
                          <form action="/users/delete/<%= usuario.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn-sm btn-danger">Darse de baja</button>
                          </form>
                        </div>
    
                      </div>
                 
    
    
                  <div class="tab-pane fade  " id="productos" role="tabpanel" aria-labelledby="profile-tab">
    
                    <div class="row principal p-4">
    
                      <div class="col-12 col-md-4 col-xl-3">
    
                        <div class="contenido">
    
                        </div>
                      </div>
    
                    </div>
                  </div>
                </div>
              </div>
                        </div>

                      </div>
            </div>
          </div>
          </div>
        </section>
      </div>

<%- include('./partials/footer.ejs')  %> <!-- FOOTER -->
  </body>
</html>
